h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* # means its an ID. */
/* ID can only be used ONCE! */
/* IDs are not used in real world, they are not future proof */
#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
}

/* . means its a class */
/* Classes can be used multiple times */
.related-authors {
  font-size: 18px;
  font-weight: bold;
}

.no-bullet-point {
  list-style: none;
}
